#editor{
    min-height: 100vh;
    width: 35vw;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
}

#editpage{
    padding: 20px;
    position: relative;
}

#editorForm{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .5);
}

#editorForm> div{
    margin-top: 20vh;
}

@media (min-width:700px ) {
    #editorForm .whitecontainer{
        width: 50vw;
       }
}

