form input{
    width: 80%;
    margin: 20px auto;
}

#quizform> div{
    height: auto;
}

#quizlist{
    position: relative;
    padding:  3rem 0;
    top: 0;
}

nav button{
    margin: 0 20px;
    justify-self: end;
}

