*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --blue: #94ddf8;
  --pink: #f8dcf5;
}

body, html{
  width: 100vw;
  overflow-x: hidden;
}

#quizlist .whitecontainer{
  width: 95%;
  height: auto;
}

.quizbox{cursor: pointer;}

.grid{
  display: grid;
  grid-template-columns: 60vw 40vw;
}

button{
  margin: 20px;
}

.btn-blue{
  background-color: var(--blue);
}

.btn-pink{
  background-color: var(--pink);
}
.box-shadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav{
  background: #fff;
  width: 100vw;
}

.grid4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-top: 3rem
}

.absolute{
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 3;
}


