*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --blue: #94ddf8;
  --pink: #f8dcf5;
}

#quizlist > div{
  width: 95%;
  height: auto;
}

.quizbox{cursor: pointer;}

.grid{
  display: grid;
  grid-template-columns: 60vw 40vw;
}

button{
  margin: 20px;
}

.btn-blue{
  background-color: var(--blue);
}

.btn-pink{
  background-color: var(--pink);
}
.box-shadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav{
  background: #fff;
  width: 100vw;
}
